#product-options th{
    font-weight: bold;
}

#product-options tr th:nth-child(4), #product-options tr td:nth-child(4){
    text-align: center;
    vertical-align: middle;
}

#add-option{
    color: #4cae4c;
    cursor: pointer;
    transition: transform 0.3s;
}

#add-option:hover{
    transform: rotate(90deg);
}

.delete-option{
    color: #d9534f;
    font-size: 2em;
    cursor: pointer;
    transition: color 0.2s;
}

.delete-option:hover{
    color: #ff5752;
}

.shop-error{
    border: 1px solid red;
}

.shop-products tr td{
    vertical-align: middle !important;
}

.inner-row td:first-child:before{
    font-family: 'FontAwesome';
    content: "\f178";
    margin: 0 20px;
}