
<div class="wrapper">
    <div class="founds products-items-ajax">
        
        <h3> Результаты поиска: "{{q}}"</h3>
         <h5>
        Ничего не найдено. Попробуйте изменить запрос поиска.
       </h5>
   </div>
</div>


