<div class="client-login">
    <form method="post">
        <label class="required">
            <span class="name">Email</span>
            <input type="email" name="email">
        </label>
        <label class="required">
            <span class="name">Пароль</span>
            <input type="password" name="password">
        </label>
        <label class="checkbox">
            <input type="checkbox" name="remember" checked>
            <span class="fa fa-fw"></span>
            Запомнить меня
        </label>
        <div class="enter-now" data-native="submit">Войти</div>
    </form>
    <div class="info">
        Регистрация в личном кабинете происходит в момент оформления заказа.
    </div>
</div>