body,div,dl,dt,dd,ul,li,pre,code,form,fieldset,input,textarea,p,blockquote,th,td,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,abbr{border:0;}address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}ul li, menu li{list-style:none;}caption,th{text-align:left;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}legend{color:#000;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}

@font-face{font-family:'OpenSans-Light';font-style:normal;font-weight:300;src:local('Open Sans Light'),local(OpenSans-Light),url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format("woff")}
@font-face{font-family:'OpenSans-Regular';font-style:normal;font-weight:400;src:local('Open Sans'),local(OpenSans),url(https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format("woff")}
@font-face{font-family:'OpenSans-Semibold';font-style:normal;font-weight:600;src:local('Open Sans Semibold'),local(OpenSans-Semibold),url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSp1r3JsPcQLi8jytr04NNhU.woff) format("woff")}

html, body{
    font-family: OpenSans-Regular;
    min-height: 100%;
    height:100%;
}

body{
    background: rgba(0, 0, 0, 0.7);
}

aside, main{
    min-height: 100%;  
    margin-bottom: -30px;
}

aside{
    float: left;
    width: 300px;
}

aside menu a{color: #fff;}

aside menu > li{
    border-top: 1px dotted #fff;
}

aside menu > li > a{
    display: block;
    font-size: 20px;
    padding: 7px 7px 5px 15px;
}

aside menu > li a:hover{
    color: #ff0;
    text-decoration: none;
}

aside menu > li > a.active{
    color: #ff0;
}

aside menu > li > ul{
    margin: 0 0 5px 30px;
}

aside menu > li > ul a:hover, aside menu > li > ul a.active{
    color: #ffffac;
}

main{
    overflow: hidden;
    background: url(img/bg_main.gif);
    padding: 0 30px;
}

.content{
    margin-top: 60px;
}

main .content h1{
    margin-bottom: 20px;
}

main .content ul{
    padding-left: 20px;
}

main .content ul.pagination{
    padding-left: 0;
}

main .content ul li{
    list-style-type: disc;
    margin-left: 10px;
}

header{
    position: absolute;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #333;
    color: #fff;
}

header span{
    margin-left: 5px;
} 

.footer-reserve{
    height: 40px;
}

footer{
    height: 30px;
    line-height: 30px;
    background: #333;
    color: #fff;
    padding: 0 5px;
    clear: both;
}

footer a, footer a:hover, footer a:active{
    color: inherit;
}

.error-group{margin: 20px 0;}

.error{color: red;}
.error-right{overflow: hidden; padding: 6px 0;}
.form-group{overflow: hidden; clear: both;}
.form-group label.control-label{padding: 6px 0;}

.admin-btn{display: inline-block; margin-right: 1em; font-size: 1.5em;}
.admin-btn:hover{text-decoration: none; transform: scale(1.2, 1.2);}
.admin-btn:last-child{margin-right: 0;}

.admin-btn::before{font-family: 'FontAwesome';}

.admin-btn.admin-btn-edit::before{content:"\f040"; color: #4cae4c;}
.admin-btn.admin-btn-delete::before{content:"\f05e"; color: #d9534f;}
.admin-btn.admin-btn-copy::before{content:"\f196"; color: #4cae4c;}
.admin-btn.admin-btn-view::before{content:"\f0db"; color: #4cae4c;}
.admin-btn.admin-btn-image::before{content:"\f03e"; color: #fdb11e;}

.exception{
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    font-size: 13px;
    line-height: 1.4;
    padding: 5px;
    margin: 10px 0;
}

.submit-buttons, .offset-buttons {
    margin-top: 20px;
}

option:disabled, optgroup:disabled {
    background-color: rgba(153, 153, 153, 0.2);
}

.draganddrop{
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    min-height: 200px;
}

.draganddrop .drag, .draganddrop .drop{
    flex: 1 1 300px;
    padding: 10px 10px 20px 10px;
    position: relative;
    margin: 10px;
}

.draganddrop .drag ul, .draganddrop .drop ul{
    padding: 0;
    margin: 0;
}

.draganddrop .drag li, .draganddrop .drop li{
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background: #189DE1;
    color: #fff;
    border-radius: 5px;
}

.draganddrop .drag{
    position: relative;
    background: #ffeec1;
}

.draganddrop .drop{
    background: #c1e2b3;
}

.draganddrop .drag::after{
    content: "Перетаскивайте элементы в соседнюю область";
}

.draganddrop .drop::after{
    content: "Для удаления элемента кликните по нему 2 раза";
}

.draganddrop .drag::after, .draganddrop .drop::after{  
    position: absolute;
    font-size: 10px;
    bottom: 2px;
    left: 15px;
}

.draganddrop .drag .add_tag{
    position: absolute;
    top: -10px;
    right: -10px;
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background: #0f0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.modal-dialog{
    display: none;
}

.sorting { 
    list-style-type: none; 
    margin: 0 0 30px 0; 
    padding: 0 !important; 
    max-width: 700px;
}

.sorting li {
    cursor: pointer; 
    margin: 0 3px 3px 3px; 
    padding: 5px 5px 5px 25px; 
    list-style-type: none !important;
    position: relative;
}

.sorting li span { 
    position: absolute; 
    left: 5px;
    top: 7px;
}

.images-upload-wrapper .images-drop {
    position:relative;
    max-width: 700px;
    width: 90%;
    height: 200px;
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    border: 4px dashed rgba(0,0,0,0.2);
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.images-upload-wrapper .images-drop.dragged{
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.1); 
    border: 4px dashed #bb2b2b;
}

.images-upload-wrapper .images-drop > *{
    margin: 10px 0;
}

.images-upload-wrapper .uploaded-holder {
    display: none;
    position:relative;
    margin: 0 auto;
}

.images-upload-wrapper .dropped-files {
    display: block;
    max-width: 700px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.images-upload-wrapper .dropped-files .image{
    flex: 0 1 150px;
    width: 30%;
    height: 120px;
    margin: 10px;
    position: relative;
}

.images-upload-wrapper .dropped-files .image span{
    position: absolute;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px; 
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.images-upload-wrapper .dropped-files .image span:hover{
    background: rgba(0, 0, 0, 1);
    color: #ff0;
}

.images-upload-wrapper .uploaded-holder .upload-buttons {
    z-index: 9999;
    display: none;
    margin: 20px 0;
}

.filter{
    margin: 20px 5px;
}

.filter .name{
    font-size: 2rem;
    margin-right: 15px;
}

.filter select{
    padding: 5px 10px;
    margin-right: 15px;
}

.filter .filter-clear{
    color: #d9534f;
}