<div class="products-list">
    <nav class="products-left">
        <div class="block">
            <div class="title">Категории</div>
            <div class="block-content">
                <ul>
                    {% for cat in cats %}
                        <li{% if PHP.in_array(cat.id_cat, active_cats) %} class="active"{% endif %}>
                            <a href="{{root_blog ~ '/' ~ cat.url}}">{{cat.name}}</a>
                            {% if PHP.in_array(cat.id_cat, active_cats) and cat.children|length > 0 %}
                                <ul>
                                    {% for child in cat.children %}
                                        <li{% if PHP.in_array(child.id_cat, active_cats) %} class="active"{% endif %}>
                                            <a href="{{root_blog ~ '/' ~ child.url}}">{{child.name}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="block">
            <div class="title">Поиск по тегу</div>
            <div class="block-content">
                <ul>
                    {% for tag in tags %}
                        <li {% if tag.id_tag == active_tag %}class="active"{% endif %}>
                            <a href="{{root_blog ~ '/@' ~ tag.url}}">{{tag.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="products-items content-text">
        {{content}}
    </div>
</div>

