{% if news|length > 0 %}
    <div class="news">
        {% for new in news %}
            <div class="item">
                <div class="head">
                    <h2>{{new.title}}</h2>
                    <span>{{PHP.date('d.m.Y', PHP.strtotime(new.dt))}}</span>
                </div>
                <div class="body">
                    <div class="intro">{{new.intro}}</div>
                    <div class="nav">
                        <div class="tags">
                            {% for tag in tags[new.id_new] %}
                                <a href="{{root_blog ~ '/@' ~ tag.url}}">{{tag.name}}</a>
                            {% endfor %}
                        </div>
                        <a href="{{root_blog ~ '/' ~ cats[new.id_cat] ~ '/' ~ new.url}}" class="read_more">Читать далее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {{navbar}}
{% else %}
    <p>К сожалению записей в данном разделе ещё нет.</p>
{% endif %}