{% for name, filter in filters %}
    <div class="filter" data-filter-id="{{filter.option.id_option}}">
        <div class="subtitle">{{name}}{% if filter.option.name != '-' %}, {{filter.option.name}}{% endif %}</div>
        <div class="options">
            {% for title, count in filter.values %}
                <div class="one">
                    {% set checked = filters_checked[filter.option.id_option][title] != null %}
                    <span class="box fa fa-fw {% if checked %}fa-check-square-o{% else %}fa-square-o{% endif %}" data-filter-value="{{title}}"></span>
                    <span class="name">{{title}} ({{count}})</span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}