   <h3> Результаты поиска: "{{q}}"</h3>
    {% for product in products %} 
       {% if children[product.id_product]|length > 0 %}
           {% for child in children[product.id_product] %} 
           <div class="found">     
               <a href="{{root ~ cats[product.id_cat].url ~ '/' ~ options[child.id_product]['url-страницы'].value}}" title="{{product.title}} - подробнее">
                   <div class="imgs">
                        <img src="{% if ImageHelper.path(images[product.id_product][0].path) == '/uploads/' %}/uploads/no_image_mini.png
                           {% else %}{{ImageHelper.path(images[product.id_product][0].path, 'shop-mini')}}{% endif %}" alt="{{child.title}}">
                   </div>
                   <div class="texts">
                           <h5>{{child.title}}{% if options[child.id_product]['Цена'].value != '' %} ({{options[child.id_product]['Цена'].value}} руб){% else %} (нет в наличии){% endif %}</h5>
                          
                   </div>
               </a>     
            </div>             
          {% endfor %} 
       {% else %}
           <div class="found">
               <a href="{{root ~ cats[product.id_cat].url ~ '/' ~ options[product.id_product]['url-страницы'].value}}" title="{{product.title}} - подробнее">
                   <div class="imgs">
                       <img src="{% if ImageHelper.path(images[product.id_product][0].path) == '/uploads/' %}/uploads/no_image_mini.png
                            {% else %}{{ImageHelper.path(images[product.id_product][0].path, 'shop-mini')}}{% endif %}" alt="{{child.title}}">
                   </div>
                   <div class="texts">
                       <h5>{{product.title}} {% if options[product.id_product]['Цена'].value != '' %} ({{options[product.id_product]['Цена'].value}} руб){% else %} (нет в наличии){% endif %}</h5>
                   </div>
               </a>
            </div>  
       {% endif %}
   {% endfor %}  
