#ace-editor {
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
}
.editor-tree {
    width: 300px;
    float: left;
}

#ul-tree {
    padding-left: 0;
}
#ul-tree li {
    list-style-type: none;
}
#ul-tree a.active {
    color: green;
    font-weight: 700;
}

.path-add:after, .add-file:after, .remove-file:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.add-file:after {
    content: "\f055";
    margin-left: 5px;
}
.add-file:hover {
    color: green;
}
.add-file {
    display: none;
}

.remove-file:after {
    content: "\f1f8";
    margin-left: 5px;
}
.remove-file:hover {
    color: red;
}
.remove-file {
    display: none;
    color: black;
}


.path-add:after {
    content: "\f055";
    margin-left: 5px;
    color: green;
}
.pathname {
    /*padding-right: 20px;*/
    width: 100%;
}
.pathname:before {
    margin-right: 5px;
}
.pathname:hover {
    cursor: pointer;
}

.filename {
    padding-right: 20px;
}
.add-file-form select {
    width: 50px;
    display: inline;
}
.add-file-form {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    display: none;
}
.add-file-form #fname {
    width: 100%;
}
.add-form-close:hover {
    color: red;
    cursor: pointer;
}

.add-file-form .select-type .btn-warning {

}
.add-file-form .select-type .active {
    border: solid black 1px;
}
.add-file-form #select-ext {
    min-width: 80px;
}
#ace-full {
    font-size: 19px;
    cursor: pointer;
}
/* Icons for filename */
a.filename:hover,
a.filename:focus {
    text-decoration: none;
    color: green;
}
a.filename {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a[data-href]:before {
    margin-right: 5px;
    color: #bb2b2b;
}
a[data-href$=".twig"]:before {
    content: "\f13b";
}
a[data-href$=".css"]:before {
    content: "\f13c";
}
a[data-href$=".js"]:before {
    content: "\f121";
}