<div class="wrapper">
    <div class="catalog">  
        <div class="breadcrumbs">
            {% if breadcrumbs|length > 1 %}
               {% for crumb in breadcrumbs %}
                   {% if loop.index != breadcrumbs|length %}
                       <a href="{{root ~ crumb.url}}">{{crumb.content}}</a> / 
                   {% else %}
                       <span>{{crumb.content}}</span>
                   {% endif %}
               {% endfor %}
           {% endif %}

        </div>
        <nav class="leftmenu">
            <div class="menu_toggle"><a>Каталог растений</a></div>
            <div class="tmenu">
                {% for cat in cats_menu %}
                    <a href="/{{cat.url}}"><h3 class="line-green">{{cat.name}}</h3></a>
                    <ul>
                        {% for k,prod in cat.products %}
                            <li>   
                                {% if prod.url == url_activ.url %}
                                   <a href="/{{cat.url}}/{{prod.url}}"> <span class="line-active">{{k}}</span></a>

                                   <ul>
                                        {% for filter,subfilter in prod.filters %}
                                         <li><a href="/{{cat.url}}/{{prod.url}}?{% if subfilter == 'ripening' %}subfilter{%else%}filter{% endif %}={{filter}}"
                                                {% if url_activ.ripening != '' and url_activ.color != '' and subfilter != 'ripening' %}
                                                     {% if url_activ.ripening == filter or url_activ.color == filter %} class="line-active"{% endif %}
                                                {% else %} 
                                                     {% if subfilter == 'ripening' and url_activ.ripening == filter and url_activ.color == '' %} class="line-active"{% endif %} 
                                                     {% if url_activ.color == filter %} class="line-active"{% endif %} 
                                                {% endif %} 
                                                >{{filter}}</a>
                                            <ul>
                                                {% for ripening in subfilter %}
                                                <li> <a href="/{{cat.url}}/{{prod.url}}?filter={{filter}}&subfilter={{ripening}}"
                                                        {% if url_activ.ripening == ripening and url_activ.color == filter %}class="line-active"{% endif %}
                                                      >{{ripening}}</a></li>
                                                 {% endfor %}
                                            </ul>
                                        </li>
                                        {% endfor %}  
                                     </ul>

                                {% else %}
                                 <a href="/{{cat.url}}/{{prod.url}}" class="menu"> <span>{{k}}</span></a>
                                {% endif %}
                             </li>
                        {% endfor %}     
                    </ul>
                {% endfor %} 
            </div>
        </nav>

        <div class="products gallery">
            {% for cat in cats_pr %} 
                <div class="prod gallery__item">       
                    <div class="img">
                        {% if cat.image == null %}
                            <img src="/uploads/no_image.png" alt="no_image" title="">
                        {% else %}
                           <img src="/uploads/{{cat.image}}-cat-middle{{cat.ext_img}}" alt="{{cat.name}}" title="">
                        {% endif %}
                    </div>
                    <div class="text">
                        <h5> <a href="/{{cat.url}}">{{cat.name}}</a></h5>
                        <p>{{cat.description}}</p>
                    </div>
                </div>  
            {% endfor %} 
            
            {% for product in products %} 
                {% if children[product.id_product]|length > 0 %}
                    {% for child in children[product.id_product] %} 
                    <div class="prod gallery__item">              
                        <div class="img">
                            {% if ImageHelper.path(images[child.id_product][0].path) == '/uploads/no_image.png' %}
                                <img src="/uploads/no_image.png" alt="no_image" title="">
                            {% else %}
                                <a href="{{ImageHelper.path(images[child.id_product][0].path)}}" data-lightbox="roadtrip" rel="gallery" target="_blank">
                                    <img src="{{ImageHelper.path(images[child.id_product][0].path, 'shop-middle')}}" alt="{{child.title}}" title="">
                                </a>
                            {% endif %}
                        </div>
                        <div class="text">

                            <a href="/{{cat_url}}/{{options[child.id_product]['url-страницы'].value}}">
                                <h5>{{child.title}} 
                                    {% if options[child.id_product]['Цвет'].value != null %} 
                                        - {{options[child.id_product]['Цвет'].value}} 
                                    {% endif %}  
                                    {% if options[child.id_product]['Возраст'].value != null %} 
                                        - {{options[child.id_product]['Возраст'].value}} 
                                    {% endif %}  
                                    {% if options[child.id_product]['Созревание'].value != null %} 
                                      - ({{options[child.id_product]['Созревание'].value}})
                                    {% endif %}  
                                </h5>   
                            </a>
                            {% if options[child.id_product]['Описание'].value != null %}   
                                {% if options[child.id_product]['Краткое описание'].value != null %}     
                                   <div class="mincontent">{{options[child.id_product]['Краткое описание'].value}} <em class="pointcontent"> ... подробнее</em></div>
                                   <div class="maxcontent">{{options[child.id_product]['Описание'].value}}</div>
                               {% else %}  
                                    <p>{{options[child.id_product]['Описание'].value}}</p>
                               {% endif %}
                            {% else %}
                                 {% if options[child.id_product]['Краткое описание'].value != null %}     
                                    <p>{{options[child.id_product]['Краткое описание'].value}}</p>
                                 {% endif %}

                             {% endif %}

                            {% if options[child.id_product]['Размер'].value != null %}
                                <p>Размер: {{options[child.id_product]['Размер'].value}} {{options[child.id_product]['Размер'].name}}</p>
                            {% endif %}
                             {% if options[child.id_product]['Высота'].value != null %}
                                <p>Высота: {{options[child.id_product]['Высота'].value}} {{options[child.id_product]['Высота'].name}}</p>
                            {% endif %}
                            {% if options[child.id_product]['В наличии'].value != null %}
                                <p>В наличии: {{options[child.id_product]['В наличии'].value}} 
                                    {% if options[child.id_product]['В наличии'].name != '-' %}
                                        {{options[child.id_product]['В наличии'].name}}
                                    {% endif %}
                                </p>
                            {% endif %}
                            {% if options[child.id_product]['Цена'].value != null %}
                                <p>Цена: {{options[child.id_product]['Цена'].value}} {{options[child.id_product]['Цена'].name}}</p>
                            {% endif %}
                             {% if options[child.id_product]['Цена за шт.'].value != null %}
                                <p>Цена (за шт.): {{options[child.id_product]['Цена за шт.'].value}} {{options[child.id_product]['Цена за шт.'].name}}</p>
                            {% endif %}
                            {% if options[child.id_product]['Цена с горшком'].value != null %}
                                <p>Цена (в горшке): {{options[child.id_product]['Цена с горшком'].value}} {{options[child.id_product]['Цена с горшком'].name}}</p>
                            {% endif %}
                            {% if options[child.id_product]['Цена за метр'].value != null %}
                                <p>Цена (за метр): {{options[child.id_product]['Цена за метр'].value}} {{options[child.id_product]['Цена за метр'].name}}</p>
                            {% endif %}
                        </div>
                     </div>             
                   {% endfor %} 
                {% else %}
                    <div class="prod gallery__item">       
                        <div class="img">
                            {% if ImageHelper.path(images[product.id_product][0].path) == '/uploads/no_image.png' %}
                                <img src="/uploads/no_image.png" alt="no_image" title="">
                            {% else %}
                                <a href="{{ImageHelper.path(images[product.id_product][0].path)}}" data-lightbox="roadtrip" rel="gallery" target="_blank">
                                    <img src="{{ImageHelper.path(images[product.id_product][0].path, 'shop-middle')}}" alt="{{child.title}}" title="">
                                </a>     
                               {% endif %}
                        </div>
                        <div class="text">

                             <a href="/{{cat_url}}/{{options[product.id_product]['url-страницы'].value}}">
                                    <h5>{{product.title}}
                                        {% if options[product.id_product]['Цвет'].value != null %} 
                                            - {{options[product.id_product]['Цвет'].value}}
                                        {% endif %}
                                       {% if options[product.id_product]['Возраст'].value != null %} 
                                            - {{options[product.id_product]['Возраст'].value}}
                                        {% endif %}
                                        {% if options[product.id_product]['Созревание'].value != null %} 
                                            - ({{options[product.id_product]['Созревание'].value}})
                                        {% endif %}
                                    </h5>
                                </a>    
                            {% if options[product.id_product]['Описание'].value != null %}        
                                {% if options[product.id_product]['Краткое описание'].value != null %}     
                                    <div class="mincontent">{{options[product.id_product]['Краткое описание'].value}} <em class="pointcontent">... подробнее</em></div>
                                    <div class="maxcontent">{{options[product.id_product]['Описание'].value}}</div>
                                {% else %}
                                    <p>{{options[product.id_product]['Описание'].value}}</p>
                                {% endif %}
                            {% else %}
                                {% if options[product.id_product]['Краткое описание'].value != null %}     
                                    <p>{{options[product.id_product]['Краткое описание'].value}}</p>
                                {% endif %}
                            {% endif %}
                            {% if options[product.id_product]['Размер'].value != null %}
                                <p>Размер: {{options[product.id_product]['Размер'].value}} {{options[product.id_product]['Размер'].name}}</p>
                            {% endif %}
                            {% if options[product.id_product]['Высота'].value != null %}
                                <p>Высота: {{options[product.id_product]['Высота'].value}} {{options[product.id_product]['Высота'].name}}</p>
                            {% endif %}
                            {% if options[product.id_product]['В наличии'].value != null %}
                                <p>В наличии: {{options[product.id_product]['В наличии'].value}} 
                                    {% if options[product.id_product]['В наличии'].name != '-' %}
                                     {{options[product.id_product]['В наличии'].name}}
                                    {% endif %}
                                </p>
                            {% endif %}
                            {% if options[product.id_product]['Цена за шт.'].value != null %}
                                <p>Цена (за шт.): {{options[product.id_product]['Цена за шт.'].value}} {{options[product.id_product]['Цена за шт.'].name}}</p>
                            {% endif %}
                            {% if options[product.id_product]['Цена'].value != null %}
                                <p>Цена: {{options[product.id_product]['Цена'].value}} {{options[product.id_product]['Цена'].name}}</p>
                            {% endif %}
                            {% if options[product.id_product]['Цена с горшком'].value != null %}
                                <p>Цена (в горшке): {{options[product.id_product]['Цена с горшком'].value}} {{options[product.id_product]['Цена с горшком'].name}}</p>
                            {% endif %}
                             {% if options[product.id_product]['Цена за метр'].value != null %}
                                <p>Цена (за метр): {{options[product.id_product]['Цена за метр'].value}} {{options[product.id_product]['Цена за метр'].name}}</p>
                            {% endif %}
                        </div>
                     </div>  
                {% endif %}
            {% endfor %} 
        </div> 
    </div> 
</div>

