<div class="wrapper">
    <div class="contacts">
        <div class="address">
            <h2>Наш адрес</h2>
            <p>
                {{Texts.get('adress')}}<br />
                &#9990 {{Texts.get('phone')}}<br />
                &#9990 {{Texts.get('phone2')}}<br />
                &#9993 {{Texts.get('email')}}
            </p>
        </div> 		

        <div class="map">
            <h2>Как проехать</h2>
            <div id="map" style="max-width: 100%; height: 400px"></div>			
        </div>
    </div>
</div>