<div class="wrapper">
    <div class="mainsection">
        <div class="welcome">
            <h2>Питомник</h2>
            <h3>Садовых растений</h3>
            <p>{{Texts.get('main')}}</p>
        </div>

        <div class="slider"> 
            <div class="flexslider">
                <ul class="slides">
                    {% for cat in cats %}
                        <li>
                            <a href="/{{cat.url}}">
                               {% if cat.image == null %}
                                   <img src="/uploads/no_image_s.png" alt="no_image" title="">
                               {% else %}
                                   <img src="/uploads/{{cat.image}}-cat-slider{{cat.ext_img}}" alt="{{cat.alt}}">
                               {% endif %}
                               <p class="flex-caption">{{cat.name}} ({{cat.count}})</p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="sections">
        {% for cat in cats %}
            <div class="section">
                <a href="/{{cat.url}}">
                    {% if cat.image == null %}
                        <img src="/uploads/no_image_m.png" alt="no_image" title="">
                    {% else %}
                        <img src="/uploads/{{cat.image}}-cat-home{{cat.ext_img}}" alt="{{cat.alt}}">
                    {% endif %}
                    <h4>{{cat.name}}</h4>
                    <p>{{cat.description}}</p>
                </a>
            </div>     
        {% endfor %}
     </div>

    <div class="flexslider ticker" >
            <noscript>You have Javascript set to disabled. This ticker runs with Javascript and will only be shown if you turn it on.</noscript> 
            <ul class="slides">
                {% for cat in cats %}
                    <li><p>{{cat.name}} - {{cat.count}}</p></li>
                {% endfor %}
            </ul>
    </div>
</div>


