<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="yandex-verification" content="b12f4dc8e3aa0849" />
    <meta name="yandex-verification" content="79d591b44eba5212" />
    <meta name="robots" content="{% if SEO.is_index %}{% else %}no{% endif %}index">
    <meta name="robots" content="{% if SEO.is_follow %}{% else %}no{% endif %}follow">
    {% if SEO.description %}
    <meta name="description" content="{{SEO.description}}">
    {% endif %}
    <link rel="canonical" href="{{SEO.system.canonical}}">
    <link href="/favicon.ico" rel="shortcut icon">
    <link type="image/x-icon" href="/favicon.ico" rel="icon">
    <title>{% if SEO.title %}{{SEO.title}}{% else %}{{title}}{% endif %}</title>
    <style>{{fast_style}}</style>
</head>
<body>

<header> 
    <div class="wrapper">
        <div class="top">
            <div class="logo">
                <a href="/" id="logo">
                    <img src="{{theme_root}}/media/img/logo.png" alt="Каланчиновское подворье">
                </a>
            </div>
            <div class="top_main">
                <div class="contacts">
                    <span>&#9990 {{Texts.get('phone')}}</span> <span>&#9990 {{Texts.get('phone2')}}</span>
                </div>
                <nav>
                    <ul class="navigation">
                        <li><a href="/" {% if topmenu == 1 %}class="active"{% endif %}>Главная</a></li>
                        <li><a href="/katalog" {% if topmenu == 2 %}class="active"{% endif %}>Каталог</a></li>
                        <li><a href="/price">Прайс</a></li>
                        <li><a href="/o-kompanii" {% if topmenu == 3 %}class="active"{% endif %}>О компании</a></li>
                        <li><a href="/kontakty" {% if topmenu == 4 %}class="active"{% endif %}>Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>	
        <div class="search">
            <form method="get" class="search" action="{{root}}search">
                <input class="search" type="search" name="q" id="name" required="required" placeholder="Поиск растений" title="Заполните поле и нажмите ENTER">
            </form>
        </div>
    </div>
</header> 

<main>
{{content}}
</main>

<footer>
    <div class="wrapper">
        <div class="columns">
            <div class="column">
                <h6>КАТАЛОГ РАСТЕНИЙ</h6>
                <ul>
                    {% for cat in cats_list %}
                        <li><a class="afooter" href="/{{cat.url}}" title="{{cat.title}}">{{cat.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="column">
                <h6>ИНФОРМАЦИЯ</h6>
                <ul>
                    <li><a class="afooter" href="/o-kompanii"> О нас</a></li>
                    <li><a class="afooter" href="/price">Прайс</a></li>
                    <li><a class="afooter" href="/sitemap">Карта сайта</a></li>
                </ul>
            </div>
            <div class="column">
                <h6>КОНТАКТЫ</h6> 
                <ul>
                    <li><a class="afooter" href="/kontakty">&#9990 {{Texts.get('phone')}}</a></li>
                    <li><a class="afooter" href="/kontakty">&#9990 {{Texts.get('phone2')}}</a></li>
                    <li><a href="mailto:{{Texts.get('email')}}" title="Написать на почту">&#9993 {{Texts.get('email')}}</a></li>
                </ul>
            </div> 
        </div> 
    </div>
</footer>

{% if topmenu == 1 %}
	<link rel="stylesheet" href="{{theme_root}}/media/css/styles.main{{col}}.min.css" />
	<link rel="stylesheet" href="{{theme_root}}/media/css/flexslider.css" />
	<script type="text/javascript" src="{{theme_root}}/media/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{theme_root}}/media/js/jquery.flexslider-min.js"></script>
	<script type="text/javascript">
		$(window).load(function() {
			$('.flexslider').flexslider({
				animation: "slide",
				directionNav: false,
				keyboardNav: true,
				mousewheel: true,
				slideshowSpeed:3000,  
			});
		});
	</script>
{% endif %}
{% if topmenu == 2 %}	  
	<div id="scrollup">
            <img src="{{theme_root}}/media/img/up.png" alt="Прокрутить вверх" />
	</div>

	<link rel="stylesheet" href="{{theme_root}}/media/css/styles.catalog.min.css" />
	<link rel="stylesheet" href="{{theme_root}}/media/css/scrollup.css" type="text/css" media="screen">
	<link rel="stylesheet" href="{{theme_root}}/media/css/lightbox.css" /> 
        <script type="text/javascript" src="{{theme_root}}/media/js/scrollup.js"></script>
	<script type="text/javascript" src="{{theme_root}}/media/js/scrollup.js"></script>
	
	<script type="text/javascript" src="{{theme_root}}/media/js/jquery-1.12.0.min.js"></script>	
	<script type="text/javascript" src="{{theme_root}}/media/js/lightbox-2.6.min.js"></script>
        <script type="text/javascript" src="{{theme_root}}/media/js/menu-toggle.js"></script>
{% endif %}

{% if topmenu == 3 or topmenu == 5 %}
	<link rel="stylesheet" href="{{theme_root}}/media/css/styles.about.min.css" />
{% endif %}
		
{% if topmenu == 4 %}			 
    <link rel="stylesheet" href="{{theme_root}}/media/css/styles.contacts.min.css" />	 
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap,myPlacemark;
        function init(){ 
            myMap = new ymaps.Map("map", {
                center: [53.159487, 38.171337],
                zoom: 14,
            }); 
            myPlacemark = new ymaps.Placemark([53.159487, 38.171337], {
                hintContent: 'Питомник \"Каланчиновское подворье\" <br>\
                                8 (910) 702-75-06,  8 (905) 110-77-61<br>\
                               ели, кустарники, можжевельники, плодовые',
                balloonContent: 'Питомник \"Каланчиновское подворье\" <br>\
                                8 (910) 702-75-06,  8 (905) 110-77-61<br>\
                                ели, кустарники, можжевельники, плодовые'
            });
            myMap.geoObjects.add(myPlacemark);
            myMap.setType('yandex#hybrid');
        }
    </script>     
{% endif %}
	 
{% if topmenu == 5 or topmenu == 6 %}
	<link rel="stylesheet" href="{{theme_root}}/media/css/styles.footer.min.css" />
{% endif %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">(function(d,w,c){(w[c]=w[c]||[]).push(function(){try{w.yaCounter43047504=new Ya.Metrika({id:43047504,clickmap:true,trackLinks:true,accurateTrackBounce:true});}catch(e){}});var n=d.getElementsByTagName("script")[0],s=d.createElement("script"),f=function(){n.parentNode.insertBefore(s,n);};s.type="text/javascript";s.async=true;s.src="https://mc.yandex.ru/metrika/watch.js";if(w.opera=="[object Opera]"){d.addEventListener("DOMContentLoaded",f,false);}else{f();}})(document,window,"yandex_metrika_callbacks");</script>
<noscript><div><img src="https://mc.yandex.ru/watch/43047504" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->		 
</body>
</html>