{% if max_page > 1 %}
<div class="pagination">
  <ul>
  {% if page_num <= 1 %}
    <li class="disabled"><span aria-hidden="true">Начало</span></li>
    <li class="disabled"><span aria-hidden="true">Пред.</span></li>
  {% else %}
    <li><a href="{{root ~ PHP.sprintf(url_self, 1)}}">Начало</a></li>
    <li><a href="{{root ~ PHP.sprintf(url_self, page_num - 1)}}">Пред.</a></li>
  {% endif %}
  {% for i in left..right %}
    {% if not(i < 1 or i > max_page) %}
      {% if i == page_num %}
        <li class="active"><span>{{i}}</span></li>
      {% else %}
        <li><a href="{{root ~ PHP.sprintf(url_self, i)}}">{{i}}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if (page_num * on_page >= count) %}
    <li class="disabled"><span aria-hidden="true">След.</span></li>
    <li class="disabled"><span aria-hidden="true">Конец</span></li>
  {% else %}
    <li><a href="{{root ~ PHP.sprintf(url_self, page_num + 1)}}">След.</a></li>
    <li><a href="{{root ~ PHP.sprintf(url_self, max_page)}}">Конец</a></li>
  {% endif %}
  </ul>
</div>
{% endif %}