.images-list{
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
}

.images-list .image-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1 200px;
    max-width: 300px;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 30px;
}

.images-list .image-item .image{
    padding: 10px;
}

.images-list .image-item .image img{
    width: 90%;
}

.images-list .image-item .actions{
    margin-bottom: 10px;
}