.work-images{
    display: flex;
    flex-wrap: wrap;
}

.work-images:after{
    display: block;
    width: 100%;
    content: 'Перетаскивайте для изменения порядка сортировки';
    margin: 10px 0;
}

.work-images .work-image{
    flex: 0 1 150px;
    margin-right: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    border: 2px solid #777;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    cursor: pointer;
    position: relative;
}

.work-images .work-image.not-show::after{
    content: "скрыта";
    display: block;
    width: 136px;
    position: absolute;
    bottom: 5px;
    text-align: center;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 0 0 5px 5px;
}

.work-images .work-image.not-show img{
    opacity: 0.5;
}

.work-images .work-image img{
    width: 100%;
    border-radius: 5px;
}

.work-images .work-image .work-image-actions{
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px 5px 0 0;
    width: 136px;
    position: absolute;
    top: 5px;
    font-size: 20px;
    z-index: -10;
    opacity: 0;
    transition: opacity 0.3s;
}

.work-images .work-image .work-image-actions span:hover{
    color: #ff0;
}

.work-images .work-image:hover img{
    opacity: 0.7;
}

.work-images .work-image:hover .work-image-actions{
    z-index: 10;
    opacity: 1;
}

.save-sort{
    display: none;
}

.sort-msg{
    font-size: 22px;
}