<div class="shop-cart">
    {% if products|length > 0 %}
        <div class="info">
            <div class="items">
                {% for product in products %}
                    <div class="item" data-id="{{product.id_product}}">
                        <div class="delete"><span class="fa fa-fw fa-trash-o" title="Удалить из корзины"></span></div>
                        <div class="image">
                            {% set where_image = images[product.id_product]|length > 0 ? images[product.id_product] : images[product.id_prototype] %}
                            <img src="{{ImageHelper.path(where_image[0].path, 'shop-mini')}}" title="{{product.title}}" alt="{{product.title}}">
                        </div>
                        <div class="title">{{product.title}}</div>
                        <div class="price" title="Цена одного товара">{{options[product.id_product]['Цена'].value}}</div>
                        <div class="inputs">
                            <input type="text" value="{{cart.products_id[product.id_product]}}" data-spinner-min="1" data-spinner-max="100" title="Количество">
                            <span class="icount icount-minus" title="Минус один"><span class="fa fa-fw fa-minus"></span></span>
                            <span class="icount icount-plus" title="Плюс один"><span class="fa fa-fw fa-plus"></span></span>
                        </div>
                        <div class="sum" title="Суммарная стоимость">{{options[product.id_product]['Цена'].value * cart.products_id[product.id_product]}}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="summary">
                <div class="price">
                    итого:
                    <span class="value">{{sum}}</span> 
                    <span class="fa fa-rub"></span>
                </div>
            </div>
        </div>
        <div class="order">
            <form method="post">
                <label class="required">
                    <span>Имя</span>
                    <input type="text" name="name" placeholder="введите имя">
                </label>
                <label class="required">
                    <span>Телефон</span>
                    <input type="text" name="phone" placeholder="от 7 до 15 символов">
                </label>
                <label class="required">
                    <span>Адрес доставки</span>
                    <input type="text" name="delivery" placeholder="куда доставляем">
                </label>
                <label>
                    <span>Email</span>
                    <input type="text" name="email" placeholder="необязательно">
                </label>
                <label>
                    <span>Комментарий к заказу</span>
                    <textarea name="comment"></textarea>
                </label>
                <div class="order-now">Оформить заказ</div>
            </form>
            <div class="order-errors"></div>
        </div>
    {% else %}
        <p>Ваша корзина пуста. Для оформления заказа сначала выберете интересующие Вас товары.</p>
    {% endif %}
</div>