<div class="products-list shop-home">
    <div class="categories products-items">
        <div class="products-items-ajax">
        {% for cat in cats %}
            <article class="item">
                <a href="{{root ~ cat.url}}" title="{{cat.description}}">
                    <div class="image">
                        <img src="{{ImageHelper.path(images[cat.image_pr_id]|first.path, 'shop-middle')}}" alt="{{cat.description}}">
                        <span class="cnt" title="Количество товаров в данной категории">{{cat.products_cnt}}</span>
                    </div>
                    <h2>{{cat.name}}</h2>
                </a>
            </article>
        {% endfor %}
        </div>
    </div>
    <div class="home-descrition">
        <div class="caption h2">Приветствуем в нашем магазине!</div>
        <div class="content-text">
            {{page.content}}
        </div>
    </div>
</div>