<div class="products-list">
    <div class="products-left">
        <div class="block">
            <div class="title filters-title">
                <span>Фильтр товаров</span>
                <span class="filters-clear fa fa-times" title="Очистить фильтры"></span>
            </div>
            <div class="block-content block-filters">
                {% include 'shop/template-parts/v_filter.twig' %}
            </div>
        </div>
        {% if sale_page %}
            <div class="block">
                <div class="title">Дополнительно</div>
                <div class="block-content">
                    <ul>
                        <li>
                            {% if sale_only %}
                                <a href="{{root ~ cats|first.url}}">Показать все товары</a>
                            {% else %}
                                <a href="{{root ~ cats|first.url}}/skidki">Только товары со скидкой</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="block">
            <div class="title">Информация</div>
            <div class="block-content">
                <ul>
                    <widget menu-template="v_main">shop_left_pages</widget>
                </ul>
            </div>
        </div>
        {% if false %}
            <div class="block">
                <div class="title">Скидки и акции</div>
                <div class="block-content">
                    <ul>
                        <widget menu-template="v_main">shop_left_sales</widget>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="products-items">
        <div class="products-items-ajax">
            {% include 'shop/template-parts/v_items.twig' %}
        </div>
        <article class="content-text">
            {% if sale_only %}
                {{Texts.get('shop-' ~ cats|first.url ~ '-sale-page')}}
            {% else %}
                {{Texts.get('shop-' ~ cats|first.url)}}
            {% endif %}
        </article>
    </div>
</div>