<div class="shop-item">
    <div class="product-line">
        <div class="product">
            <div class="slider">
                <div class="full-image">
                    {% if images|length > 0 %}
                        <div class="zoom-lighbox" title="Открыть в большом размере">
                            <span class="fa fa-fw fa-search-plus"></span>
                            <div class="a-hide"></div>
                        </div>
                    {% endif %}
                    <img src="{{ImageHelper.path(images[0].path, 'shop-middle')}}" title="{{PHP.string_quuee(images[0].title, product.title)}}" 
                         alt="{{PHP.string_quuee(images[0].alt, product.title)}}" data-id="{{images[0].id_image}}">
                    {% if product.options['Тип скидки'].value == '1' %}
                        <div class="label sale">Распродажа</div>
                    {% elseif product.options['Тип скидки'].value == '2' %}
                        <div class="label discount">Скидка</div>
                    {% elseif product.options['Тип скидки'].value == '3' %}
                        <div class="label present">+ подарок</div>
                    {% endif %}
                </div>
                <div class="small-images">
                    {% for image in images %}
                        <div class="small-image">
                            <img src="{{ImageHelper.path(image.path, 'shop-mini')}}"
                                 title="{{PHP.string_quuee(image.title, product.title)}}"
                                 alt="{{PHP.string_quuee(image.alt, product.title)}}"
                                 data-id="{{image.id_image}}"
                                 data-middle="{{ImageHelper.path(image.path, 'shop-middle')}}"
                                 data-origin="{{ImageHelper.path(image.path, 'shop-origin')}}"
                                 >
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="description">
                <div><strong>{{product.title}}</strong></div>
                <div>{{product.options['page-intro'].value}}</div>
                <div>
                    <span class="b">Статус:</span> 
                    {% if product.options['В наличии'].value != '0' %}в наличии{% else %}<span class="notice">нет в наличии</span>{% endif %}
                </div>
                <p><span class="b">Нравится товар? Поделись с друзьями!</span></p>
                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter"></div>
            </div>
        </div>
        <div class="order">
            <div class="prices">
                {% if first_print_item.options['Скидка'].value != '' %}
                    <div class="old-price">
                        <span>{{first_print_item.options['Старая цена'].value}}</span>
                        <span class="fa fa-rub"></span>
                    </div>
                    <div class="sale-value">-{{first_print_item.options['Скидка'].value}}</div>
                {% endif %}
                <div class="new-price{% if first_print_item.options['Скидка'].value != '' %} price-with-sale{% endif %}">
                    <span>{{first_print_item.options['Цена'].value}}</span> 
                    <span class="fa fa-rub"></span>
                </div>
            </div>
            {% if product.options['Доставка'].value != '' %}
                <div data-delivery="{{product.options['Доставка'].value}}"> доставим </div>
            {% endif %}
            {% if product.children|length > 0 %}
                {% if product.options['Различие по'].value == 'size'%}
                    <div class="order-item size-choise">
                        <div class="caption">Доступные размеры</div>
                        <select class="sizes">
                            {% for child in product.children %}
                                <option value="{{child.id_product}}"{% if selected_id == child.id_product %} selected{% endif %}>
                                    {{child.options['Высота'].value}} {{child.options['Высота'].name}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                {% else %}
                    <div class="order-item color-choise">
                        <div class="caption">Доступные цвета</div>
                        <div class="colors">
                            {% for child in product.children %}
                                <span class="color-wrap{% if selected_id == child.id_product %} active{% endif %}" data-id-product="{{child.id_product}}">
                                    <span data-color="{{child.options['HEX'].value}}" title="{{child.options['Цвет'].value}}"></span>
                                </span>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            <div class="order-item set-count">
                <div class="caption">Количество</div>
                <div class="inputs">
                    <input type="text" value="1" data-spinner-min="1" data-spinner-max="100">
                    <span class="icount icount-minus"><span class="fa fa-fw fa-minus"></span></span>
                    <span class="icount icount-plus"><span class="fa fa-fw fa-plus"></span></span>
                </div>
            </div>
            <div class="order-item add-to-cart">
                <div class="to-cart{% if selected %} to-cart-now{% endif %}" 
                     {% if selected %}
                         data-id-product="{{selected_id}}" data-wait-color="wait"
                     {% else %}
                         {% if product.children|length > 0 %}
                             data-wait-color="wait"
                         {% else %}
                             data-id-product="{{product.id_product}}"
                         {% endif %}
                     {% endif %}>
                    Добавить в корзину
                </div>
            </div>
        </div>
    </div>
    <div class="options">
        <div class="caption h2">Характеристики</div>
        <table>
            {% for option in product.options %}
                {% if option.in_list == 1 %}
                    <tr>
                        <td>
                            {{option.title}}{% if option.name != '-' %}, {{option.name}}{% endif %}
                        </td>
                        <td>{{option.value}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    {% if product.options['page-text'] != null %}
        <div class="product-descrition">
            <div class="caption h2">Описание</div>
            <article class="text content-text">
                {{product.options['page-text'].value}}
                <div class="btn-order-up">Заказать сейчас</div>
            </article>
        </div>
    {% endif %}
    {% if same_products|length > 0 %}
        <div class="same-products products-list">
            <div class="caption h2">Похожие товары</div>
            <div class="products-items">
                <div class="products-items-ajax">
                    {% for product in same_products %}
                        <div class="item">
                            <a href="{{root ~ cat.url ~ '/' ~ same_options[product.id_product]['url-страницы'].value}}" title="{{product.title}} - подробнее">
                                <div class="image">
                                    <img src="{{ImageHelper.path(same_images[product.id_product][0].path, 'shop-middle')}}" alt="{{product.title}}">
                                </div>
                                <div class="title">{{product.title}}</div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
</div>