.seopack-list .seopack-one{
    border: 1px solid #000;
    padding: 10px;
    margin: 20px 0;
}

.seopack-list .seopack-one .info{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
}

.seopack-list .seopack-one .info:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #777;
    margin: 10px 0 20px;
}

.seopack-list .seopack-one .lastmod{
    font-weight: bold;
}

.error.success{
    color: #5cb85c;
}